.link-disabled {
  color: gray;
  font-weight: 100;
}

.link-enabled {
  color: $secondary;
  font-weight: 700;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 50px;
  border: none;
  margin: 10px;
  padding: 8px 20px 8px 20px;
  background-size: 200% auto;
  background-color: transparent;
  box-shadow: 0 0.6px 1.1px rgba(0, 0, 0, 0.075), 0 5px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 0.9rem;

  .icon {
    width: 25px;
    margin-right: 8px;
  }
}

.btn2 {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.input {
  border-radius: 60px;
  border: rgb(214, 214, 214) 0.8px solid;
  outline: none;
  padding: 5px 10px;
  &::placeholder {
    color: rgb(180, 180, 180);
  }

  &:focus-visible {
    outline: none;
  }
}

.btn-logout {
  box-shadow: 0 0 0 1.5px white;
  color: white;

  &:hover {
    color: white;
  }
}

.btn-carousel-seemore {
  border-radius: 50px;
  border: none;
  padding: 8px 20px 8px 20px;
  background-color: white;
  box-shadow: 0 0.6px 1.1px rgba(0, 0, 0, 0.075), 0 5px 9px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 0.9rem;
}

.btn-carousel-seemore:hover {
  box-shadow: 0 0.6px 1.1px rgba(0, 0, 0, 0.1), 0 5px 9px rgba(0, 0, 0, 0.25);
}

.border-red {
  border: 1px solid red;
}

.text-alert {
  color: red;
  font-size: 0.8rem;
}
