footer {
  background-color: #1e1e1e;
  color: white;
  padding: 40px;
  margin-top: 140px;

  display: grid;
  place-items: center;
  width: 100%;

  .footerdiv {
    width: 55%;
    display: grid;
    place-items: center;
    grid-template-columns: 25% 25% 25% 25%;

    .footer-content {
      display: grid;
      font-size: 0.8rem;
      width: fit-content;

      a {
        &:not(:first-of-type) {
          margin-top: 6px;
        }
      }
    }
  }

  .copyrights {
    padding-top: 45px;

    p {
      font-size: 0.8rem;
    }
  }
}
